<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<table>
    <thead>
    <tr>
        <th> Firstname </th>
        <th> Lastname </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.isEmpty()}">
        <td colspan="2"> No Students Available </td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.name}"> FName </span></td>
        <td><span th:text="${student.email}"> LName </span></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
